<footer class="main-footer">
    <div class="footer-top">
        <a href="#" class="privacy-policy">Privacy Policy</a>
        <p>Any Questions : emirhansvncc@gmail.com</p>
        <span class="copyright">© 2019-2022 Copyright Go4Liftoff</span>
    </div>
    <div>
        <p style="width: 300px;">Go4Liftoff is a space enthusiast community. We are a group of people who are passionate about space and space exploration.</p>
    </div>
</footer>