<%- include('partials/_header.ejs') %>

    <h1 style="text-align: center;margin: 30px 0;">Welcome to the admin panel</h1>

    <div style="display: flex;align-items: center;justify-content: center;">
    <div style="display: flex;align-items: center;justify-content: center;max-width: 700px;flex-wrap: wrap;">
        <div style="background-color: #222;padding: 20px;border-radius: 20px;margin: 30px;height: 300px;display: flex;align-items: center;justify-content: center;">
            <form action="/admin/panel/createNewLaunch" method="POST">
                <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    <h2>Create New Launch</h2>
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="launchName" placeholder="Launch Name">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="launchDescription" placeholder="Launch Description">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="launchDate" placeholder="Date (YYYY-MM-DD)">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="launchInfo" placeholder="Launch Info Link">
                    <button type="submit" style="background-color: transparent;padding: 5px 10px;color: whitesmoke;border-radius: 10px;border: 3px solid whitesmoke; cursor: pointer;">Create Lunch</button>
                </div>
            </form>
        </div>

        <div style="background-color: #222;padding: 20px;border-radius: 20px;margin: 30px;height: 300px;display: flex;align-items: center;justify-content: center;">
            <form action="">
                <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    <h2>Create New News</h2>
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="newsTitle" placeholder="News Title">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="newsDescription" placeholder="News Description">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="newsDate" placeholder="News Date">
                    <button type="submit" style="background-color: transparent;padding: 5px 10px;color: whitesmoke;border-radius: 10px;border: 3px solid whitesmoke; cursor: pointer;">Create News</button>
                </div>
            </form>
        </div>

        <div style="background-color: #222;padding: 20px;border-radius: 20px;margin: 30px;height: 300px;display: flex;align-items: center;justify-content: center;">
            <form action="">
                <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    <h2>Create New Astronaut</h2>
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="astroName" placeholder="Astronaut Name">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="astroDescription" placeholder="Astronaut Description">
                    <button type="submit" style="background-color: transparent;padding: 5px 10px;color: whitesmoke;border-radius: 10px;border: 3px solid whitesmoke; cursor: pointer;">Create Astronaut</button>
                </div>
            </form>
        </div>

        <div style="background-color: #222;padding: 20px;border-radius: 20px;margin: 30px;height: 300px;display: flex;align-items: center;justify-content: center;">
            <form action="">
                <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    <h2>Create New Event</h2>
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="eventName" placeholder="Event Name">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="eventDescription" placeholder="Event Description">
                    <input type="text" style="margin: 10px 0;width: 250px;padding: 8px;border-radius: 10px;" name="eventDate" placeholder="Event Date">
                    <button type="submit" style="background-color: transparent;padding: 5px 10px;color: whitesmoke;border-radius: 10px;border: 3px solid whitesmoke; cursor: pointer;">Create Event</button>
                </div>
            </form>
        </div>
    </div>
    </div>

<%- include('partials/_footer.ejs') %>
    
</body>
</html>