<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>
<body class="flex">
    
    <div>
        <div class="input-container flex column">
            <h2 style="margin-bottom: 20px;">Welcome Admin</h2>
            <form action="/">
                <div class="inputs flex column">
                    <input class="admin-inputs" type="email" name="email" placeholder="Enter email" required>
                    <input class="admin-inputs" type="password" name="password" placeholder="Enter password" required>
                    <button class="admin-inputs" style="cursor: pointer;" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>